@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

.header-text {
  font-weight: 600;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.join {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.name-input {
  display: flex;
  width: 100%;
}

.create-btn {
  width: 100%;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.message-inputs {
  gap: 5px;
  padding: 10px;
}

.message-box {
  border-color: #000000;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  background-color: #e5e5e5;
  height: 80vh;
  display: flex;
  flex-direction: column;
  width: 50vw;
  align-items: stretch;
}

.chatroom-text {
  font-size: 24px;
  font-weight: 600;
  margin: 10px;
  text-align: center;
}

.home-container {
  border-color: #000000;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  background-color: #e5e5e5;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.messages {
  overflow-y: scroll !important;
  flex: 1;
  width: 100%;
}

.text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.muted {
  font-size: 10px;
  color: #a0a0a0;
}