{% extends "layout.html" %} {% block content %}

<div class="room-container">
  <form action="{{ url_for('leaveroom') }}">
    <div class="back-button-container">
      <button type="submit" class="btn btn-secondary">Leave Room</button>
    </div>
  </form>

  <div class="message-box">
    <div class="enter-text my-4">
      <h2 class="chatroom-text">Chat Room: {{code}}</h2>
    </div>
    <div class="user-name">
      <div class="name-container">
        <span class="user-background" id="user"></span>
      </div>
    </div>
    <div class="messages" id="messages"></div>
    <div class="space" id="typingIndicator"></div>
    <div class="message-inputs d-flex">
      <input
        type="text"
        rows="3"
        placeholder="Message"
        name="message"
        id="message"
        class="form-control"
      />
      <button
        type="button"
        name="send"
        id="send-btn"
        class="btn btn-secondary"
        onclick="sendMessage()"
      >
        Send
      </button>
    </div>
  </div>
</div>

<script type="text/javascript">
  var socketio = io();
  var typing = false;
  var lastTypingTime;
  var typingTimeout;

  function emitTyping() {
    if (!typing) {
      typing = true;
      socketio.emit("typing");
    }
    lastTypingTime = new Date().getTime();

    clearTimeout(typingTimeout); // Clear the previous timeout
    typingTimeout = setTimeout(function () {
      var typingTimer = new Date().getTime();
      var timeDiff = typingTimer - lastTypingTime;
      if (timeDiff >= 1000 && typing) {
        socketio.emit("stop typing");
        typing = false;
      }
    }, 1000);
  }

  var user = document.getElementById("user");
  user.innerHTML = "{{ session.get('name') }}";

  var input = document.getElementById("message");
  input.addEventListener("input", function () {
    emitTyping();
  });

  var sendButton = document.getElementById("send-btn");
  sendButton.addEventListener("click", function () {
    socketio.emit("stop typing");
  });

  input.addEventListener("keypress", function (event) {
    if (event.key === "Enter") {
      event.preventDefault();
      typing = false;
      sendMessage();
      clearTimeout(typingTimeout);
      socketio.emit("stop typing");
    }
  });

  socketio.on("typing", function (data) {
    if (data.name !== "{{ session.get('name') }}") {
      document.getElementById("typingIndicator").innerHTML =
        "<i>" + data.name + " is typing...</i>";
    }
  });

  socketio.on("stop typing", function (data) {
    document.getElementById("typingIndicator").innerHTML = "";
  });

  const createMessage = (name, msg, timestamp) => {
    const content = `
    <div class="text">
        <span>
            <strong>${name}</strong>: ${msg}
        </span>
        <span class="muted">
            ${timestamp}
        </span>
    </div>
    `;

    messages.innerHTML += content;
  };

  socketio.on("message", (data) => {
    createMessage(data.name, data.message, data.timestamp);
  });

  const sendMessage = () => {
    const message = document.getElementById("message");
    if (message.value == "") return;
    socketio.emit("message", {
      data: message.value,
    });
    message.value = "";
  };
</script>

{% for msg in messages %}
<script type="text/javascript">
  createMessage("{{ msg.name }}", "{{ msg.message }}", "{{ msg.timestamp }}");
</script>
{% endfor %} {% endblock %}
