{% extends "layout.html" %}
{% block content %}

<div class="room-container">
  <form action="{{ url_for('leaveroom') }}">
    <div class="back-button-container">
      <button type="submit" class="btn btn-secondary">Leave Room</button>
    </div>
  </form>
  
  <div class="message-box">
    <div class="enter-text my-4">
      <h2 class="chatroom-text">Chat Room: {{code}}</h2>
    </div>
    <div class="messages" id="messages">
    </div>
    <div class="message-inputs d-flex">
      <input
        type="text"
        rows="3"
        placeholder="Message"
        name="message"
        id="message"
        class="form-control"
      />
      <button
        type="button"
        name="send"
        id="send-btn"
        class="btn btn-secondary"
        onclick="sendMessage()"
      >
        Send
      </button>
    </div>
  </div>  
</div>

<script type="text/javascript">
  var socketio = io();

  const createMessage = (name, msg, timestamp) => {
    const content = `
    <div class="text">
        <span>
            <strong>${name}</strong>: ${msg}
        </span>
        <span class="muted">
            ${timestamp}
        </span>
    </div>
    `;

    messages.innerHTML += content;
  };

  socketio.on("message", (data) => {
    createMessage(data.name, data.message, data.timestamp);
  });

  const sendMessage = () => {
    const message = document.getElementById("message");
    if (message.value == "") return;
    socketio.emit("message", {
      data: message.value,
    });
    message.value = "";
  };
</script>

{% for msg in messages %}
<script type="text/javascript">
  createMessage(
    "{{ msg.name }}",
    "{{ msg.message }}",
    "{{ msg.timestamp }}"
  );
</script>
{% endfor %}

<script>
  var input = document.getElementById("message");
  input.addEventListener("keypress", function(event) {
    if (event.key === "Enter") {
      event.preventDefault();
      sendMessage();
    }
  })
</script>
{% endblock %}
